django-mssql-backend>=2.8.0,<2.8.99
django>=2.2,<2.2.99
pandas
openpyxl
xlrd==1.2.0
django-cors-headers
git+https://github.com/Innovate-Inc/django-agol-oauth2.git@master#egg=django-agol-oauth2==0.0.3
django-debug-toolbar
django-modeladmin-reorder
django-fieldsets-with-inlines
git+https://github.com/Innovate-Inc/django-slack-logging.git#egg=django-slack-logging
