<header>
  <mat-toolbar class="header" color="primary" style="justify-content: space-between;">
    <a routerLink="/" class="no-style">
      <div style="display: flex; align-items: center;">
        <img src="assets/EPA_logo.png" style="width: 60px;" alt="EPA Logo"/>
        {{headerTitle}}
      </div>
    </a>
    <div *ngIf="userConfig.config | async as uc">
      <button mat-button [matMenuTriggerFor]="menu">{{ uc.name }}</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/">Button</button>
        <button mat-menu-item (click)="logout()">Logout</button>
      </mat-menu>
    </div>
  </mat-toolbar>
</header>

<mat-sidenav-container class="container">
  <mat-sidenav #sidenav mode="side" opened="true" class="sidenav">
<!--    <mat-list *ngIf="userConfig.config | async as uc">-->
<!--      <a mat-list-item routerLink="/dashboard" routerLinkActive="active" *ngIf="uc.is_superuser">-->
    <mat-list>
      <a mat-list-item routerLink="/" routerLinkActive="active">
        <mat-icon>home</mat-icon>
        Home
      </a>
      <a mat-list-item>
        <mat-icon>list</mat-icon>
        Question List
      </a>
      <a mat-list-item>
        <mat-icon>workspaces</mat-icon>
        Question Sets
      </a>
      <a mat-list-item>
        <mat-icon>dashboard</mat-icon>
        Responses
      </a>
      <a mat-list-item>
        <mat-icon>gpp_good</mat-icon>
        Assessments
      </a>
      <a mat-list-item>
        <mat-icon>settings</mat-icon>
        Configuration
      </a>
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content>
<!--    <div>-->
<!--        <button type="button" mat-raised-button (click)="sidenav.toggle()" color="primary">-->
<!--        Toggle sidenav-->
<!--    </button>-->
<!--    </div>-->
    Content!
    <router-outlet></router-outlet>
  </mat-sidenav-content>>
</mat-sidenav-container>
