<mat-toolbar class="header" style="justify-content: space-between; min-height: 64px; background-color: #1E376D; color: white">
  <a routerLink="/dashboard" style="text-decoration: none; color: unset">
    <div style="display: flex; align-items: center;">

      <img src="../../assets/EPA_flower_transparent.png" style="width: 40px; margin-right: 10px;"/>
      Region 9 WET Tool
    </div>
  </a>
  <div *ngIf="user | async as u">
<!--    <button mat-button [matMenuTriggerFor]="menu">{{ u.name }}</button>-->
    <mat-menu #menu="matMenu">
      <a [href]="admin_url" mat-menu-item *ngIf="u.is_superuser">Admin</a>
<!--      <button mat-menu-item (click)="logout()">Logout</button>-->
    </mat-menu>
  </div>
</mat-toolbar>
<div *ngIf="!(user | async)"
     style="position: absolute; display: flex; height: 100%; width: 100%; justify-content: center; align-items: center;">
  <mat-spinner></mat-spinner>
</div>
<!--<mat-sidenav-container class="container">-->
<!--  <mat-sidenav #sidenav mode="side" opened="true" class="sidenav">-->
<!--    <mat-list *ngIf="user | async as u">-->
<!--      <a mat-list-item routerLink="/dashboard" routerLinkActive="active" *ngIf="u.is_superuser">-->
<!--        <mat-icon>dashboard</mat-icon>-->
<!--        Dashboard-->
<!--      </a>-->
<!--    </mat-list>-->
<!--  </mat-sidenav>-->

<!--  <div class="sidenav-content">-->
<!--    &lt;!&ndash;<div>-->
<!--        <button type="button" mat-raised-button (click)="sidenav.toggle()" color="primary">-->
<!--        Toggle sidenav-->
<!--    </button>-->
<!--    </div>&ndash;&gt;-->
<!--    <router-outlet></router-outlet>-->
<!--  </div>-->

<!--</mat-sidenav-container>-->



